/*Fonts*/
@font-face { 
  font-family: lobster-regular; 
  src: url("./Lobster-Regular.ttf"); 
} 

/* On screens that are 992px wide or less, the background color is lightpink */
@media screen and (max-width: 992px) {
  body {
    background-color: lightpink;
    color: white;
  }
}

/* On screens that are 600px wide or less, the background color is lightgrey */
@media screen and (max-width: 600px) {
  body {
    background-color: lightgrey;
    color: white;
  }
}

/*Select the "class - title" with [Class Selector] 
  and apply [HSL color] to property [background-color]*/
.title {
  background-color: hsl(113, 50%, 50%);
}

/*Select the "id - questionnaire" with [ID Selector] 
  and apply [rgb color] to property [background-color]*/
#questionnaire {
  background-color: rgb(0, 255, 200);
  /*Borders*/
  border-style: solid;
  border-color: black;
  border-width: 5px;
  border-radius: 25px;
  
  margin: auto;
  
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  
}

/*Select all with [Universal Selector ]*/
* {
  font-size: large;
}

/*Select the "element - nav" with [Element Selector] 
  and apply [color name] to property [background-color]*/
nav {
  background-color: lightyellow;
}

/*Select the "element - main" with [Element Selector] 
  and apply [color name] to property [background-color]*/
main {
  background-color: lightblue;
}

footer {
  background-color: lightgray;
}

/*TBD rgb(r, g, b) or rgba(r, g, b, a)*/


/*TBD hsl(h, s, l) or hsla(h, s, l, a) */

/*Select the "attribute - href" from "element - a" with [Attribute Selector] 
  and apply [hex code color] to property [background-color]*/
a[href] {
  background-color: #fafa9c;
}

/*Select the "element - h2,h3" with [Selector List] 
  and apply style to [Text]*/
h1,h2,h3 {
  color: blue;
  text-decoration: underline;
  text-align: left;
  font-family: lobster-regular;
}
